/* start global roles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}
html{
  scroll-behavior: smooth ;
  font-size: 16px; /* تعيين قيمة الجذر لحجم الخط */
}
body {
  margin: 0;
  padding: 0;
  font-family: "Almarai", sans-serif;
  background-color: #FEFEFE;
  direction: rtl;
}
:root{
  --mainColor: #72C6C3 ;
  --color-secondary: #5C5F6E; 
  --transition: 0.3s ;
  
}
ul{
  padding: 0 ;
  margin: 0 ;
  list-style: none;
}
a{
  text-decoration: none;
}
/*very Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Large */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 2.5rem;
  }
}
/* Medium */
@media (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 1rem;
  }
}

/* Small */
@media (max-width: 479px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 0.5rem;
  }
}

.container{
    margin-left: auto;
    margin-right: auto;
}
/* end global roles */
/* start header section  */
header{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px 10px 140px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.scrolled{
  height: 100px;
  background-color: white;
  box-shadow: 0px 0px 5px #213d3ca6;
}
header .contact{
  border: none;
  border-radius:25px;
  padding: 1rem 2rem;
  font-weight: bold;
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  -ms-border-radius:25px;
  -o-border-radius:25px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
header .contact:hover{
  background-color: var(--mainColor);
  color: white;
}
.logo{
max-width: 100%;
}
header ul{
  display: flex;
  
}
header li a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--main-hieght);
  padding: 0 30px;
  font-size: 1rem;
  color: black;
  font-weight: bold;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  position: relative;
}
header li a::before{
  content: "";
  position: absolute;
  left: 10;
  bottom: -5px;
  width: 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  z-index: 1000;
}
header li a:hover{
  color: var(--mainColor);
}
header li a:hover::before{
  border: 1px solid var(--mainColor);
  width: 60%;
}
#menu{
  display: none;
  position: relative;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  user-select: none;
}
#menu span{
  display: block;
  background-color: var(--mainColor);
  width: 40px;
  height: 3px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: var(--transition);
  transform-origin: 0 0;
  position: relative;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
#menu.is-active span:nth-child(1) {
  transform:  translate(2px, -1px) rotate(48deg);
  -webkit-transform:  translate(2px, -1px) rotate(48deg);
  -moz-transform:  translate(2px, -1px) rotate(48deg);
  -ms-transform:  translate(2px, -1px) rotate(48deg);
  -o-transform:  translate(2px, -1px) rotate(48deg);
}
#menu.is-active span:nth-child(2) {
      display: none;
      }
#menu.is-active span:nth-child(3) {
        transform:  translate(0px, 15px) rotate(-47deg);
        -webkit-transform:  translate(0px, 15px) rotate(-47deg);
        -moz-transform:  translate(0px, 15px) rotate(-47deg);
        -ms-transform:  translate(0px, 15px) rotate(-47deg);
        -o-transform:  translate(0px, 15px) rotate(-47deg);
}
#menu.is-active span{
  background-color: var(--mainColor);
  }

  @media (max-width: 1200px) {
  body{
    text-align: center;
  }
  .logo{
    left: 0;
    position: absolute;
    top: 26px;
    right: 11px;
    width: 115px;
    }

header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

header ul {
  position: fixed;
  background: var(--mainColor);
  top: 105px;
  left: 3rem;
  right: 3rem ;
  border-radius: 10px;
  display: none;
}
header ul.is-active{
    display: block;
}
header ul li{
    display: block;
    text-align: center;
    margin: 20px auto;
}
header li a{
  color: black;
}
header li a:hover{
    color: white;
}
header li a:hover::before{
  border: 1px solid white;
  width: 20%;
}

header .contact{
  display: none;
}
#menu{
  display: block;
  top: 38px;
  position: absolute;
  z-index: 111;
  left: 20px;
}
  }
/* end header section  */
/* start main section  */
main{
  padding-bottom: 100px;
}

main .headerPhoto{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -999;
  width: 687px;
  height: 704px;

}
@media (max-width: 1200px) {
  main .headerPhoto {
  display: none ;
  }
}
main .content{
padding: 250px 50px;
}
@media (max-width: 992px){
  main {
    padding-bottom: 10px;
  }
  main .content{
    padding: 50px 5px 20px 5px;
  }
}
main .mainIcon{
  width: 2.4rem;
  position: absolute;
  right: 0px;
  top: 272px;
}
main h1{
  color: var(--mainColor);
  display: inline;
font-size: 4rem;
letter-spacing: -0.05em;
text-align: center;
}

main p{
  padding-right: 5rem;
  font-size: 2rem;
  color: var(--color-secondary);
}
@media (max-width: 1200px){
  main .content {
    padding: 120px 5px;
  }
  main h1{
    color: var(--mainColor);
    display: block;
    font-size: 1.4rem;
    letter-spacing: -0.05em;
    text-align: center;
  }
  main p{
    padding: 0;
    text-align: center;
    font-size: 0.9rem;
    color: var(--color-secondary);
  }
  main .mainIcon{
    display: none;
  }
}

/* end main section  */
/* start partners section  */
.partners .partner{
  width: 100%;
}
.partners .starIcont{
  width: 200px;
  position: absolute;
  right: -104px;
  bottom: -116px;
}
/* end partners section  */
/* start about section  */
.about{
  padding-top: 100px;
  padding-bottom: 100px;
}
.about .container{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
@media (max-width: 1200px){
  .about .container{
    flex-direction: column;
  }
  .about .container .textContent{
    margin: 0;
  }
}
.about .container .textContent{
  margin-right: 100px;
}

.about .container .textContent h1{
  color:var(--mainColor);
  margin: 0;
  padding-top: 10px;
  
}
.about .container .textContent p{
  max-width: 80%;
  overflow: hidden;
  line-height: 1.8;
  font-size: 1.5rem;

  color: var(--color-secondary);
  
}
@media (min-width: 1200px){
  .about .container .textContent p{
    text-align: justify; 
  }}

.about .container .textContent .contact{
  border: 3px solid var(--mainColor);
  padding: 1rem 4rem;
  font-weight: bold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: var(--mainColor);
  font-size: 1.2rem;
  background-color: white;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
@media (max-width: 1200px){
  .about .container .textContent {
    margin: 0;
  }
  .about .container .textContent h1{
    text-align: center;
  }
  .about .container .textContent p{
    max-width: 100%;
    font-size: 1.3rem;
  }
  .about .container .textContent .contact{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: -1;
}
.cards .one{
  margin-top: 200px;
}
.about .container .textContent .contact{
  margin-top: 80px;
}
.partners .starIcont {
  width: 67px;
  right: -34px;
  bottom: 444px;
  
}
}
.about .container .textContent .contact:hover{
  background-color: var(--mainColor);
  color: black;

}
.cards .card{
  display: flex;
  align-items: center;
  padding: 2rem;
  overflow: hidden;
  background-color: var(--mainColor);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 13%), 0px 0px 2px 1px var(--mainColor)
}

.cards .card img{
  background-color: white;
  max-width: 62px;
  border-radius: 50%;
  border: 9px solid white;
  margin-left: 30px;
  margin-bottom: 3rem;
}
@media (max-width: 992px){
  .cards .card{
    display: block;
  }
  .cards .card img{
    margin: 0;
  }

}
.cards .card .text h3{
  color: white;
  font-size: 1.9rem;
  margin: 10px 0 0;


}
.cards .card .text p{
color: white;
font-size: 1.1rem;
line-height: 1.3;
color: #E8E8E8;
}
@media (min-width: 992px){
  .cards .card .text p{
    text-align: justify;
  }

}
/* end about section  */
/* start our work section  */
/* on mobile */
.OurWork{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F0F0F0;
  position: relative;
  overflow: hidden;
}
.OurWork{
  text-align: center;
}
.start-up{
  width: 50px;
  position: absolute;
  left: -24px;
  top: 181px;
}
.start-down{
  width: 50px;
  position: absolute;
  bottom: 53px;
  right: -25px;
}

.OurWork::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  z-index: -3;
}
.OurWork .container .text p{
  color: var(--color-secondary);
  line-height: 1.7;
  word-wrap: break-word; 
  padding-bottom: 20px;
}
.container .texticons h1{
  display: inline-block;
  margin: 0;
}
.OurWork .container .texticons span{
  color: var(--mainColor);
}
.container .texticons img{
  width: 25px;

}
.OurWork .container .icons{
  position: relative;
}
.OurWork .container .icons .icon img{
  width: 40px;
  border: 7px solid var(--mainColor);
  border-radius: 50%;
  background-color: var(--mainColor);
}
.OurWork  .icons .two{

  position: relative;

}

.OurWork .container .icons .icon h3{
  color: var(--mainColor);
  font-size: 1.4 rem;
  margin: 4px 0 0 0 ;
}
.OurWork .container .icons .icon p{
  color: var(--color-secondary);
  margin: 4px;
  line-height: 1.5;
  padding: 1rem ;
}
@media (min-width:992px){
  .start-up{
    width: 100px;
    position: absolute;
    left: -50px;
    top: 153px;
  }
  .start-down{
    width: 100px;
    position: absolute;
    bottom: 22px;
    right: -51px;
  }
  
  .OurWork .container .icons{
    display: flex;
  }
  .OurWork .container .text p{
    padding-bottom: 100px;
  }
  .OurWork  .icons .two::after{
    content: "";
    position: absolute;
    width: 144px;
    left: 100%;
    transform: translateX(-50%);
    top: 27px;
    border-style: dashed;
    border-color: #7777777c;
    border-width: 1px;
  }
  .OurWork  .icons .two::before{
    content: "";
    position: absolute;
    width: 144px;
    right: 67%;
    transform: translateX(-50%);
    top: 27px;
    border-style: dashed;
    border-color: #7777777c;
    border-width: 1px;
  }

}

/* end our work section  */